<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>商城</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
<style type="text/css">
.fa{
	padding: 5px; 
	font-size:18px;
}
</style>  
</head>

<body>
  <div class="content has_nav" id="divBody">
    <!--滚动栏-->
    <div id="banner" class="carousel slide">
      <ol class="carousel-indicators banner_points">
        <li v-for="(row,index) in product.imgList" data-target="#banner" 
        	:data-slide-to="index" :class="index==0?'active':''"></li>
      </ol>
      <div class="carousel-inner">
      	<div v-for="(row,index) in product.imgList" 
      		class="item" :class="index==0?'active':''">
          <img :src="row.imgUrl">
        </div>
      </div> 
      <a class="carousel-control left" href="#banner" data-slide="prev"> </a> 
      <a class="carousel-control right" href="#banner" data-slide="next"> </a> 
    </div>
    <div class="box">
      <div class="h4">{{product.productName}}</div>
      <p class="price">￥{{product.vipPrice}}</p>
      <del>￥{{product.originPrice}}</del>
      <button class="btn-link fa fa-comments-o pull-right"> 客服</button>
      <!--添加客服-->
    </div>
    <div class="box"> 
      <span>数量</span>
      <div class="quality pull-right">
        <!--修改数量（待添加）-->
        <span class="fa fa-minus" v-on:click="minus"></span>
        <input class="text-center" type="number" style="width:50px" v-model="quantity" /> 
        <span class="fa fa-plus" v-on:click="add"></span> 
      </div>
      <button type="button" class="btn btn-block" v-on:click="goPay()">购 买</button>
    </div>
    <div class="detail_class1" id="tabs">
      <!--分页按钮-->
      <a class="text-center active" v-on:click="tabChange('tabs01',event)">商品详情</a> 
      <a class="text-center" v-on:click="tabChange('tabs02',event)">商品参数</a> 
    </div>
    <div class="tab-content detail_class2">
      <!--分页-->
      <div class="tab-pane active" id="tabs01">
        <div class="detail">图文介绍，嵌入p和img标签</div>
      </div>
      <div class="tab-pane" id="tabs02">
        <ul class="info">
          <li><span class="col1">上市时间: </span><span>2017年夏季</span></li>
          <li><span class="col1">属性2: </span><span>值</span></li>
          <li><span class="col1">属性3: </span><span>值</span></li>
          <li><span class="col1">属性4: </span><span>值</span></li>
          <li><span class="col1">属性5: </span><span>值</span></li>
        </ul>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="js/vue.min.js"></script>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/layer.js"></script>
  <script type="text/javascript" src="js/sync.js"></script>
  <script>
  var db = new Vue({
    el: "#divBody",
    mounted: function() {
      $("#banner").carousel({ interval: 2000 });
      
      var that=this;
      this.productId=getQueryString("productId");
      post2SRV("productDetail",{productId:this.productId},function(data){
    	  that.product=data;
      },"json");
    },
    methods: {
	  tabChange:function(id,event){
	    $(event.currentTarget).siblings().attr("class", "text-center");
	    $(event.currentTarget).attr("class", "text-center active");
	    $("#"+id).attr("class", "tab-pane active");
	    $("#"+id).siblings().attr("class", "tab-pane");
	  }, 	
      add:function(){
    	  this.quantity=this.quantity+1;
      },
      minus:function(){
    	  if(this.quantity>1)
    	  	this.quantity=this.quantity-1;
      },
      goPay:function(){
    	  window.location.href="/winewx/pay.html?productId="+this.productId+"&quantity="+this.quantity;
      }
    },
    data: {
	  productId:"",    	
      product: {},
      quantity:1
    }
  });
  </script>
</body>

</html>