<html>

<head>
    <meta charset="utf-8">
    <title>花冠盛到酒业管理后台</title>
    <meta content="webkit" name="renderer" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.css">
    <style type="text/css">
        input {
    margin-bottom: 0px;
    height: 30px;
}

.imgDiv {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.imgDiv img {
    max-height: 150px;
    max-width: 150px;
}

.imgDiv .delete {
    background-color: rgba(255, 255, 255, 0.5);
    filter: op;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 28px;
    padding-top: 5px;
}
    </style>
</head>

<body>
<div id="menu">
    <mymenu menu1="true"></mymenu>
</div>
<div class="content" id="divBody">
    <mynav name="商品新增页"></mynav>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="well">
                <table class="table">
                    <tr>
                        <td>商品名称：</td>
                        <td>
                            <input type="text" v-model="productName" placeholder="请输入商品名称">
                        </td>
                    </tr>
                    <tr>
                        <td>商品类型：</td>
                        <td>
                            <select v-model="productType" class="input-xlarge" style="width:120px">
                                <option v-for="(value, key) in types" v-bind:value="key">{{value}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>商品图片：
                            <br/>第一张为默认图片</td>
                        <td>
                            <div class="form-control" style="min-height:125px;" />
                            <template v-for="(img,index) in imgList">
                                <div class="imgDiv">
                                    <img :src="'upload/compressed/'+img.imgUrl" />
                                    <a href="javascript:;" v-on:click="deletePic(index)" class="delete"> <i class="icon-remove"></i>
                                    </a>
                                </div>
                            </template>
                            <div>
                                <button style="margin-top:10px;" type="button" class="btn icon-plus" v-on:click="addPic">新增</button>
                                <input type="file" name="file" v-on:change="uploadFile" id="uploadFile" style="display:none" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>原价：</td>
                        <td>
                            <input type="number" v-model="originPrice" placeholder="请输入价格" />元</td>
                    </tr>
                    <tr>
                        <td>vip价格：</td>
                        <td>
                            <input type="number" v-model="vipPrice" placeholder="请输入价格" />元</td>
                        </td>
                    </tr>
                    <tr>
                        <td>商品总数量：</td>
                        <td>
                            <input type="number" v-model="totalQuantity" placeholder="请输入商品总数量" />个</td>
                    </tr>
                    <tr>
                        <td>库存量：</td>
                        <td>
                            <input type="number" v-model="totalQuantity" placeholder="请输入商品总数量" />个</td>
                    </tr>
              <tr>
                <td colespan="2"><b>以下是商品详情：</b></td>
              </tr>
                    <tr>
                    	<td>详情图片：</td>
                        <td>
                            <div class="form-control" style="min-height:125px;" />
                            <template v-for="(img,index) in detailImgList">
                                <div class="imgDiv">
                                    <img :src="'upload/compressed/'+img.imgUrl" />
                                    <a href="javascript:;" v-on:click="deleteDetailPic(index)" class="delete"> <i class="icon-remove"></i>
                                    </a>
                                </div>
                            </template>
                            <div>
                                <button style="margin-top:10px;" type="button" class="btn icon-plus" v-on:click="addDetailPic">新增</button>
                                <input type="file" name="file" v-on:change="uploadDetailFile" id="uploadDetailFile" style="display:none" />
                            </div>
                        </td>
                    </tr>
                    <tr v-for="param in paramList">
                    	<td>{{param.name}}：</td>
                        <td>
                            <input type="text" v-model="param.value" :placeholder="'请输入'+param.name" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-primary" v-on:click="doIt"> <i class="icon-save"></i> 保存</button>
                            <button type="button" class="btn" onclick="window.history.go(-1)">取消</button>
                        </td>
                    </tr>
                </table>
                <section class="editor selected" style="margin:0px 20px">
				    <section style="border: 0px; padding: 0px; box-sizing: border-box;" class="96wx-bdtc">
				        <section style="margin-left: 1em; line-height: 1.4; box-sizing: border-box;" class="96wx-bdtc">
				            <span style="display: inline-block; padding: 3px 8px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; color: rgb(255, 255, 255); font-size: 1em; background-color: rgb(0, 187, 236); font-family: inherit; font-weight: inherit; text-align: inherit; text-decoration: inherit; border-color: rgb(0, 187, 236); box-sizing: border-box;" class="96wx-bgc">
				            <section class="96wx-bdtc" style="box-sizing: border-box; font-size:18px;">
				               	 温馨提示：
				            </section>
				            </span> 
				        </section>
				        <section style="margin-top: -11px; padding: 22px 16px 16px; border: 1px solid rgb(192, 200, 209); color: rgb(51, 51, 51); font-size: 1em; font-family: inherit; font-weight: inherit; text-align: inherit; text-decoration: inherit; background-color: rgb(239, 239, 239); box-sizing: border-box;">
				            <p style="box-sizing: border-box;">
				                1、商品详情参数与当前默认参数一致。
				            </p>
				            <p style="box-sizing: border-box;">
				                2、若想增删参数，请选择菜单“商品参数设置”进行配置。
				            </p>
				        </section>
				    </section>
				</section>
            </div>
        </div>
    </div>
    <myfooter></myfooter>
</div>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/layer.js"></script>
<script type="text/javascript" src="js/fileUpload.js"></script>
<script type="text/javascript" src="js/sync.js"></script>
<script type="text/javascript" src="js/header.js"></script>
<script type="text/javascript">
var db = new Vue({
    el: "#divBody",
    mounted: function() {
    	var that=this;
    	post2SRV("paramDefault",function(data){
    		that.paramList=data;
    	});
    },
    methods: {
        doIt: function() {
            var param = {
                productName: this.productName,
                productType: this.productType,
                originPrice: this.originPrice,
                vipPrice: this.vipPrice,
                totalQuantity: this.totalQuantity,
                remain: this.totalQuantity,
                imgStr:JSON.stringify(this.imgList),
                detailImgSrc:JSON.stringify(this.detailImgList),
                paramStr:JSON.stringify(this.paramList),
            };
            if(this.productName==""){
            	layer.msg("请输入商品名称");
                return;
            }
            if(this.productType==""){
            	layer.msg("请选择商品类型");
                return;
            }
            if(this.imgList.length==0){
            	layer.msg("请上传商品图片");
                return;
            }
            if(this.originPrice==0){
            	layer.msg("请输入商品原价");
                return;
            }
            if(this.vipPrice==0){
            	layer.msg("请输入商品vip价格");
                return;
            }
            if(this.totalQuantity==0){
            	layer.msg("请输入商品库存量");
                return;
            } 
            post2SRV("productAdd", param, function(data) {
                var productId = data;
                window.location.href = "/wineback/productDetail.html?productId=" + productId;
            }, "json");
        },
        addPic: function() {
            $("#uploadFile").click();
        },
        uploadFile: function(e) {
            //formData上传文件
            var file = e.target.files[0];;
            if (file.type.indexOf('image') == -1) {
                alert('只能上传图片');
                return;
            }
            $("#uploadFile").upload("imageAdd", function(data) {
                var img = {
                    imgUrl: data
                };
                db.imgList.push(img);
            });
        },
        deletePic: function(i) {
            //从list中删除
            this.imgList.splice(i, 1);
        },
        addDetailPic: function() {
            $("#uploadDetailFile").click();
        },
        uploadDetailFile: function(e) {
            var file = e.target.files[0];;
            if (file.type.indexOf('image') == -1) {
                alert('只能上传图片');
                return;
            }
            $("#uploadDetailFile").upload("imageAdd", function(data) {
                var img = {
                    imgUrl: data
                };
                db.detailImgList.push(img);
            });
        },
        deleteDetailPic: function(i) {
            //从list中删除
            this.detailImgList.splice(i, 1);
        }
    },
    data: {
        productName: "",
        productType: "",
        originPrice: "",
        vipPrice: "",
        totalQuantity: "",
        remain: "",
        paramList:[],
        imgList: [],
        detailImgList: [],
        types: {
            ww: "白酒",
            rw: "红酒"
        }
    }
});
</script>
</body>

</html>