<html>

<head>
  <meta charset="utf-8">
  <title>花道酒业管理后台</title>
  <meta content="webkit" name="renderer" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/theme.css">
  <link rel="stylesheet" href="css/font-awesome/css/font-awesome.css">
</head>

<body>
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav pull-right">
      </ul>
      <a class="brand" href="index.html"><span class="second">花道酒业管理后台</span></a>
    </div>
  </div>
  <div class="row-fluid" id="divBody">
    <div class="dialog">
      <div class="block">
        <p class="block-heading">登录</p>
        <div class="block-body">
          <label>用户名</label>
          <input type="text" v-model="username" class="span12">
          <label>密码</label>
          <input type="password" v-model="password" class="span12">
          <input type="button" v-on:click="login" class="btn btn-primary pull-right" value="登录">
          <label class="remember-me">
            <input type="checkbox" id="rememberMe"> 记住我
          </label>
          <div class="clearfix"></div>
        </div>
      </div>
      <p class="pull-right" style="">
        <a href="javascript:;">没有注册？</a>
      </p>
      <p>
        <a href="javascript:;">忘记密码？</a>
      </p>
    </div>
  </div>
  <script type="text/javascript" src="js/vue.min.js"></script>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/layer.js"></script>
  <script type="text/javascript" src="js/sync.js"></script>
  <script type="text/javascript" src="js/jsencrypt.min.js"></script>
  <script type="text/javascript">
  var db = new Vue({
    el: "#divBody",
    mounted: function() {
      var cookieUsername = getCookie("username");
      var cookiePassword = getCookie("password");
      if (cookieUsername != null && cookiePassword != null) {
        this.username = cookieUsername;
        this.password = cookiePassword;
      }
      this.service = getQueryString("service") || "index.html";
    },
    methods: {
      login: function() {
        var user = {
          username: db.username,
          password: db.password
        }
        post2SRV("login", user, function(data) {
          if (document.getElementById("rememberMe").checked == true) {
            var exp = new Date();
            exp.setTime(exp.getTime() + 7 * 24 * 60 * 60 * 1000);

            document.cookie = "username=" + db.username + ";expires=" + exp.toGMTString();
            document.cookie = "password=" + db.password + ";expires=" + exp.toGMTString();
          }
          window.location.href = db.service;
        }, "json");
      }
    },
    data: {
      isLogin: false,
      service: "",
      username: "",
      password: ""
    }
  });
  </script>
  <script type="text/javascript">
  //使用公钥加密
  var encrypt = new JSEncrypt();
  encrypt.setPublicKey('-----BEGIN PUBLIC KEY-----MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC/fQ+z91P1/uYJKaQ2bMtlO+wZYcVfMMsmCEgPEE3YYrkUX6XqJe7xQ2KMlrR5R45f/1wUg1mnKtGLuBHmZVkQwd1LO0aXAkUdYAWitoJW0SMIkvk1bTehggX7fUE0aKUpSCkIykOF0LOn8UEADXgIRF6dKd67t2Lwcpn4CHmsYwIDAQAB-----END PUBLIC KEY-----');
  var encrypted = encrypt.encrypt('hello world');
  console.log('加密后数据:%o', encrypted);
  //使用私钥解密
  var decrypt = new JSEncrypt();
  decrypt.setPrivateKey('-----BEGIN RSA PRIVATE KEY-----MIICeAIBADANBgkqhkiG9w0BAQEFAASCAmIwggJeAgEAAoGBAL99D7P3U/X+5gkppDZsy2U77BlhxV8wyyYISA8QTdhiuRRfpeol7vFDYoyWtHlHjl//XBSDWacq0Yu4EeZlWRDB3Us7RpcCRR1gBaK2glbRIwiS+TVtN6GCBft9QTRopSlIKQjKQ4XQs6fxQQANeAhEXp0p3ru3YvBymfgIeaxjAgMBAAECgYADZqk8vQvUtq5HQ2ITRWNnbOUInl/vDOLOzh7ZhaScT0SSRBCiVAImbtf1P0f9T3QL6HEuPBb/jRcjsCVBPlOSnL5kFjVd6XvGO1RNL6t5NpskczDaJJzal4cuhybQkf8BVW0E2DDpkqYpAJiKyjcrCu69jCfPFOEPDkLuMTsHgQJBAOnxSdN1kQzaTz/VqYNJ+V8bOnUWgT1r2YJFMl5KElmq0HT0nsT0MnaSspXTcA98HFUMRQ97XVBArujVAgre0NECQQDRiw2XAIB+SI77j8AGNYgYOGXLyOYCRVu1d1D3FRrXpgpvR0TOYWlxD3DK0DoNY3PUialH1eab4u4dIFo+b5bzAkEAgxVymow71InW8hvUuf4PPx1Qqh8MF9CAth/z0yWKFrhByebvt8hlJk+YxZ8OIX8XmQghAkXLyZYU692/ITwsoQJBAJ7zroFnXhFtlRj6+J09KlnFHmMxqFj8qA7FzeNAXTZMvAmhtG4hssyS++q9fev+DzWgn4rglaiWwi3SBuLp30UCQQCvN1j7oP47Rg747T2JWSuU6MHREjqSw0N/rA1Y2aWynWVSrDG0lKZvPulmOw+xPo+K9SQAEa/Q6zhS8DCwY5Zh-----END RSA PRIVATE KEY-----');
  var uncrypted = decrypt.decrypt(encrypted);
  console.log('解密后数据:%o', uncrypted);
  </script>
</body>

</html>