<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wine.base.dao.ImageMapper">
  <resultMap id="BaseResultMap" type="com.wine.base.bean.Image">
    <id column="img_id" jdbcType="INTEGER" property="imgId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="main_pic" jdbcType="INTEGER" property="mainPic" />
  </resultMap>
  <sql id="Base_Column_List">
    img_id, product_id, img_url, main_pic
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from image
    where img_id = #{imgId,jdbcType=INTEGER}
  </select>
  <select id="selectByProductId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from image
    where product_id = #{productId,jdbcType=INTEGER} order by main_pic desc
  </select>
  <select id="selectAll"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from image
  </select>
  <delete id="deleteByProductId" parameterType="int">
    delete from image where product_id=#{productId}
  </delete>
  <insert id="insert" parameterType="com.wine.base.bean.Image">
    insert into image (img_id, product_id, img_url, 
      main_pic)
    values (#{imgId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{imgUrl,jdbcType=VARCHAR}, 
      #{mainPic,jdbcType=INTEGER})
  </insert>
</mapper>