<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wine.base.dao.OrderJnlMapper">
  <resultMap id="BaseResultMap" type="com.wine.base.bean.OrderJnl">
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="pay_status" jdbcType="VARCHAR" property="payStatus" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="deli_comp" jdbcType="VARCHAR" property="deliComp" />
    <result column="deli_no" jdbcType="VARCHAR" property="deliNo" />
    <association property="user" javaType="com.wine.base.bean.User">
	    <id column="user_id" jdbcType="INTEGER" property="userId" />
	    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
	    <result column="headimgurl" jdbcType="VARCHAR" property="headimgurl" />
	</association>
    <association property="address" javaType="com.wine.base.bean.Address">
	    <result column="name" jdbcType="VARCHAR" property="name" />
	    <result column="phone_No" jdbcType="VARCHAR" property="phoneNo" />
	    <result column="province" jdbcType="VARCHAR" property="province" />
	    <result column="city" jdbcType="VARCHAR" property="city" />
	    <result column="district" jdbcType="VARCHAR" property="district" />
	    <result column="detail" jdbcType="VARCHAR" property="detail" />
	    <result column="main_addr" jdbcType="CHAR" property="mainAddr" />
	</association>
	<association property="product" javaType="com.wine.base.bean.Product">
	    <id column="product_id" jdbcType="INTEGER" property="productId" />
    	<result column="product_name" jdbcType="VARCHAR" property="productName" />
	    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
	</association>
  </resultMap>
  <select id="selectByPageNo" resultMap="BaseResultMap">
	select a.*,b.nickname,c.product_name,d.img_url from orderjnl a,user b,product c,image d
		where a.product_id=c.product_id and c.product_id=d.product_id and a.user_id=b.user_id and d.main_pic=1
	    <if test="payStatus != null">
	         and a.pay_status = #{payStatus}
	    </if> 
	    <if test="startDate != null">
	        <![CDATA[ and a.pay_time > #{startDate} ]]>
	    </if>
	    <if test="endDate != null">
	        <![CDATA[ and a.pay_time < #{endDate} ]]>
	    </if>
	order by a.pay_time limit #{offset},#{length}
  </select>
  <select id="selectTotal" resultType="java.lang.Integer">
    select count(*) from orderjnl 
    <where> 
	    <if test="payStatus != null">
	         pay_status = #{payStatus}
	    </if> 
	    <if test="startDate != null">
	        <![CDATA[ AND pay_time > #{startDate} ]]>
	    </if>
	    <if test="endDate != null">
	        <![CDATA[ AND pay_time < #{endDate} ]]>
	    </if>
  	</where>
  </select>
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select a.* from orderjnl a where a.user_id=#{userId}
  </select> 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select a.*,d.*,b.product_name,e.img_url,c.nickname,c.headimgurl from orderjnl a,product b,user c,address d,image e
    where a.product_id=b.product_id and b.product_id=e.product_id and a.user_id=c.user_id and a.addr_id=d.addr_id and e.main_pic=1
    and order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <update id="updateState">
    update orderjnl set pay_status=#{payStatus,jdbcType=VARCHAR} 
       	<if test="payStatus == 'AS'">
	         , send_time = now()
	    </if>
    	<if test="payStatus == 'AP' or payStatus == 'CL' ">
	         , send_time = null
	    </if>
    	where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orderjnl
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wine.base.bean.OrderJnl">
    insert into orderjnl (order_id, amount, user_id, 
      product_id, pay_status, pay_time, 
      send_time, addr_id, deli_comp, deli_no)
    values (#{orderId,jdbcType=INTEGER}, #{amount,jdbcType=DOUBLE}, #{userId,jdbcType=INTEGER}, 
      #{productId,jdbcType=INTEGER}, #{payStatus,jdbcType=VARCHAR}, #{payTime,jdbcType=TIMESTAMP}, 
      #{sendTime,jdbcType=TIMESTAMP}, #{addrId,jdbcType=INTEGER})
      #{deliComp,jdbcType=VARCHAR}, #{deliNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wine.base.bean.OrderJnl">
    insert into orderjnl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="payStatus != null">
        pay_status,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
      <if test="addrId != null">
        addr_id,
      </if>
      <if test="deliComp != null">
        deli_comp,
      </if>
      <if test="deliNo != null">
        deli_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="payStatus != null">
        #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addrId != null">
        #{addrId,jdbcType=INTEGER},
      </if>
      <if test="deliComp != null">
        #{deli_comp,jdbcType=VARCHAR},
      </if>
      <if test="deliNo != null">
        #{deli_no,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wine.base.bean.OrderJnl">
    update orderjnl
    <set>
      <if test="amount != null">
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="payStatus != null">
        pay_status = #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addrId != null">
        addr_id = #{addrId,jdbcType=INTEGER},
      </if>
      <if test="deliComp != null">
        deli_comp = #{deliComp,jdbcType=VARCHAR},
      </if>
      <if test="deliNo != null">
        deli_no = #{deliNo,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wine.base.bean.OrderJnl">
    update orderjnl
    set amount = #{amount,jdbcType=DOUBLE},
      user_id = #{userId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      pay_status = #{payStatus,jdbcType=VARCHAR},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      addr_id = #{addrId,jdbcType=INTEGER},
      deli_comp = #{deliComp,jdbcType=VARCHAR},
      deli_no = #{deliNo,jdbcType=VARCHAR},
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>