<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wine.base.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.wine.base.bean.Product">
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
    <result column="origin_price" jdbcType="DOUBLE" property="originPrice" />
    <result column="vip_price" jdbcType="DOUBLE" property="vipPrice" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="total_quantity" jdbcType="INTEGER" property="totalQuantity" />
    <result column="remain" jdbcType="INTEGER" property="remain" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="pp" jdbcType="VARCHAR" property="pp" />
    <result column="bzfs" jdbcType="VARCHAR" property="bzfs" />
    <result column="tl" jdbcType="VARCHAR" property="tl" />
    <result column="zl" jdbcType="VARCHAR" property="zl" />
    <result column="ptpz" jdbcType="VARCHAR" property="ptpz" />
    <result column="nf" jdbcType="VARCHAR" property="nf" />
    <result column="sych" jdbcType="VARCHAR" property="sych" />
    <result column="nzgy" jdbcType="VARCHAR" property="nzgy" />
    <result column="kg" jdbcType="VARCHAR" property="kg" />
    <result column="gfj" jdbcType="VARCHAR" property="gfj" />
    <result column="dpcy" jdbcType="VARCHAR" property="dpcy" />
    <result column="xq" jdbcType="VARCHAR" property="xq" />
    <result column="jkfs" jdbcType="VARCHAR" property="jkfs" />
    <result column="xjsj" jdbcType="VARCHAR" property="xjsj" />
    <result column="cpcd" jdbcType="VARCHAR" property="cpcd" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <collection property="imgList" ofType="com.wine.base.bean.Image">
		<id column="img_id" property="imgId"/>
		<result column="product_id" property="productId"/>
		<result column="product_id" property="productId"/>
		<result column="img_url" property="imgUrl"/>
		<result column="main_pic" property="mainPic"/>
	</collection>
  </resultMap>
  <select id="selectByPageNo" resultMap="BaseResultMap">
    select a.*,b.img_url from product a left join image b 
		on a.product_id=b.product_id and b.main_pic=1
		where a.status='N'
		order by a.add_time desc
	limit #{offset},#{length}
  </select>
  <select id="selectProductList" resultMap="BaseResultMap">
    select a.*,b.img_url from product a,image b where a.product_id=b.product_id and b.main_pic=1 and a.status='N'
		<if test="type != 'all'">
			and a.product_type=#{type}
		</if>
		order by 
		<if test="sortBy == 'sale'">
			(a.total_quantity-a.remain)
		</if>
		<if test="sortBy == 'price'">
			a.vip_price
		</if>
		<if test="sortBy == 'time'">
			a.add_time
		</if>
		${sortType}
	limit #{offset},#{length}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select a.*,b.* from product a left join image b on a.product_id=b.product_id where a.product_id=#{productId}
  </select>
  <select id="selectTotal" resultType="java.lang.Integer">
    select count(*) from product where status='N'
  </select>  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update product set status='C' where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wine.base.bean.Product">
    insert into product (product_id, product_type, origin_price, 
      vip_price, product_name, total_quantity, 
      remain, status, add_time, 
      pp, bzfs, tl, zl, 
      ptpz, nf, sych, nzgy, 
      kg, gfj, dpcy, xq, 
      jkfs, xjsj, cpcd)
    values (#{productId,jdbcType=INTEGER}, #{productType,jdbcType=VARCHAR}, #{originPrice,jdbcType=DOUBLE}, 
      #{vipPrice,jdbcType=DOUBLE}, #{productName,jdbcType=VARCHAR}, #{totalQuantity,jdbcType=INTEGER}, 
      #{remain,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, 
      #{pp,jdbcType=VARCHAR}, #{bzfs,jdbcType=VARCHAR}, #{tl,jdbcType=VARCHAR}, #{zl,jdbcType=VARCHAR}, 
      #{ptpz,jdbcType=VARCHAR}, #{nf,jdbcType=VARCHAR}, #{sych,jdbcType=VARCHAR}, #{nzgy,jdbcType=VARCHAR}, 
      #{kg,jdbcType=VARCHAR}, #{gfj,jdbcType=VARCHAR}, #{dpcy,jdbcType=VARCHAR}, #{xq,jdbcType=VARCHAR}, 
      #{jkfs,jdbcType=VARCHAR}, #{xjsj,jdbcType=VARCHAR}, #{cpcd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="productId" parameterType="com.wine.base.bean.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="originPrice != null">
        origin_price,
      </if>
      <if test="vipPrice != null">
        vip_price,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="totalQuantity != null">
        total_quantity,
      </if>
      <if test="remain != null">
        remain,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="pp != null">
        pp,
      </if>
      <if test="bzfs != null">
        bzfs,
      </if>
      <if test="tl != null">
        tl,
      </if>
      <if test="zl != null">
        zl,
      </if>
      <if test="ptpz != null">
        ptpz,
      </if>
      <if test="nf != null">
        nf,
      </if>
      <if test="sych != null">
        sych,
      </if>
      <if test="nzgy != null">
        nzgy,
      </if>
      <if test="kg != null">
        kg,
      </if>
      <if test="gfj != null">
        gfj,
      </if>
      <if test="dpcy != null">
        dpcy,
      </if>
      <if test="xq != null">
        xq,
      </if>
      <if test="jkfs != null">
        jkfs,
      </if>
      <if test="xjsj != null">
        xjsj,
      </if>
      <if test="cpcd != null">
        cpcd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="originPrice != null">
        #{originPrice,jdbcType=DOUBLE},
      </if>
      <if test="vipPrice != null">
        #{vipPrice,jdbcType=DOUBLE},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="totalQuantity != null">
        #{totalQuantity,jdbcType=INTEGER},
      </if>
      <if test="remain != null">
        #{remain,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pp != null">
        #{pp,jdbcType=VARCHAR},
      </if>
      <if test="bzfs != null">
        #{bzfs,jdbcType=VARCHAR},
      </if>
      <if test="tl != null">
        #{tl,jdbcType=VARCHAR},
      </if>
      <if test="zl != null">
        #{zl,jdbcType=VARCHAR},
      </if>
      <if test="ptpz != null">
        #{ptpz,jdbcType=VARCHAR},
      </if>
      <if test="nf != null">
        #{nf,jdbcType=VARCHAR},
      </if>
      <if test="sych != null">
        #{sych,jdbcType=VARCHAR},
      </if>
      <if test="nzgy != null">
        #{nzgy,jdbcType=VARCHAR},
      </if>
      <if test="kg != null">
        #{kg,jdbcType=VARCHAR},
      </if>
      <if test="gfj != null">
        #{gfj,jdbcType=VARCHAR},
      </if>
      <if test="dpcy != null">
        #{dpcy,jdbcType=VARCHAR},
      </if>
      <if test="xq != null">
        #{xq,jdbcType=VARCHAR},
      </if>
      <if test="jkfs != null">
        #{jkfs,jdbcType=VARCHAR},
      </if>
      <if test="xjsj != null">
        #{xjsj,jdbcType=VARCHAR},
      </if>
      <if test="cpcd != null">
        #{cpcd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wine.base.bean.Product">
    update product
    <set>
      <if test="productType != null">
        product_type = #{productType,jdbcType=VARCHAR},
      </if>
      <if test="originPrice != null">
        origin_price = #{originPrice,jdbcType=DOUBLE},
      </if>
      <if test="vipPrice != null">
        vip_price = #{vipPrice,jdbcType=DOUBLE},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="totalQuantity != null">
        total_quantity = #{totalQuantity,jdbcType=INTEGER},
      </if>
      <if test="remain != null">
        remain = #{remain,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pp != null">
        pp = #{pp,jdbcType=VARCHAR},
      </if>
      <if test="bzfs != null">
        bzfs = #{bzfs,jdbcType=VARCHAR},
      </if>
      <if test="tl != null">
        tl = #{tl,jdbcType=VARCHAR},
      </if>
      <if test="zl != null">
        zl = #{zl,jdbcType=VARCHAR},
      </if>
      <if test="ptpz != null">
        ptpz = #{ptpz,jdbcType=VARCHAR},
      </if>
      <if test="nf != null">
        nf = #{nf,jdbcType=VARCHAR},
      </if>
      <if test="sych != null">
        sych = #{sych,jdbcType=VARCHAR},
      </if>
      <if test="nzgy != null">
        nzgy = #{nzgy,jdbcType=VARCHAR},
      </if>
      <if test="kg != null">
        kg = #{kg,jdbcType=VARCHAR},
      </if>
      <if test="gfj != null">
        gfj = #{gfj,jdbcType=VARCHAR},
      </if>
      <if test="dpcy != null">
        dpcy = #{dpcy,jdbcType=VARCHAR},
      </if>
      <if test="xq != null">
        xq = #{xq,jdbcType=VARCHAR},
      </if>
      <if test="jkfs != null">
        jkfs = #{jkfs,jdbcType=VARCHAR},
      </if>
      <if test="xjsj != null">
        xjsj = #{xjsj,jdbcType=VARCHAR},
      </if>
      <if test="cpcd != null">
        cpcd = #{cpcd,jdbcType=VARCHAR},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wine.base.bean.Product">
    update product
    set product_type = #{productType,jdbcType=VARCHAR},
      origin_price = #{originPrice,jdbcType=DOUBLE},
      vip_price = #{vipPrice,jdbcType=DOUBLE},
      product_name = #{productName,jdbcType=VARCHAR},
      total_quantity = #{totalQuantity,jdbcType=INTEGER},
      remain = #{remain,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      pp = #{pp,jdbcType=VARCHAR},
      bzfs = #{bzfs,jdbcType=VARCHAR},
      tl = #{tl,jdbcType=VARCHAR},
      zl = #{zl,jdbcType=VARCHAR},
      ptpz = #{ptpz,jdbcType=VARCHAR},
      nf = #{nf,jdbcType=VARCHAR},
      sych = #{sych,jdbcType=VARCHAR},
      nzgy = #{nzgy,jdbcType=VARCHAR},
      kg = #{kg,jdbcType=VARCHAR},
      gfj = #{gfj,jdbcType=VARCHAR},
      dpcy = #{dpcy,jdbcType=VARCHAR},
      xq = #{xq,jdbcType=VARCHAR},
      jkfs = #{jkfs,jdbcType=VARCHAR},
      xjsj = #{xjsj,jdbcType=VARCHAR},
      cpcd = #{cpcd,jdbcType=VARCHAR}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>

</mapper>